<div class="footer">
  <div fxLayout.xs="column" fxLayout="row">

    <!--side one-->
    <div fxFlex="50" fxFlex.xs="100">
      <img src="../../../../assets/images/Light%20Mode.svg" width="250" height="250" alt="logo"/>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore</p>
    </div>

    <!--side two-->
    <div fxFlex="50" fxFlex.xs="100" fxLayoutAlign="center">
      <mat-list role="list">
        <mat-list-item role="listitem"><a href="javascript:;">Item 1</a></mat-list-item>
        <mat-list-item role="listitem"><a href="javascript:;">Item 2</a></mat-list-item>
        <mat-list-item role="listitem"><a href="javascript:;">Item 3</a></mat-list-item>
      </mat-list>
    </div>

  </div>
</div>
