@import "src/styles/colors";

.sidebar-admin-panel {
  width: 250px;
  height: 100%;
  background: $app-primary-bg;
  padding: 30px 10px;

  .logo-section{
    text-align: center;
    padding: 40px 0;
  }

mat-list {
  mat-list-item {
    cursor: pointer;
    margin: 10px 0;
    a {
      display: flex;
      text-transform: capitalize;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
      color: $app-light-black;
      width: 100%;
      outline: unset;
    }

    mat-icon {
      flex: .2;
      text-align: start;
      font-size: 25px;
    }

    span {
      flex: .8;
      text-align: start;
      font-size: 19px;
    }

    &:hover,&.active  {
      background: #E431381A;
      a{
        color: $app-red;
      }
    }
  }
}
}
