@import "./src/styles";

.header {
  .header-bottom {
    &.xl {
      @media (max-width: 960px) {
        display: none;
      }
      background: $app-white;
      box-shadow: 0 3px 6px $app-shadow-black;

      .header-bottom-inner {
        display: flex;
        align-items: center;
        width: 100%;

        .logo-site {
          flex: .1
        }

        .menu-site {
          flex: .75
        }

        .header-right-side {
          flex: .25;
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          .search {
            input {
              background: rgba(255, 255, 255, 0.27);

              border: 1px solid $app-light-black;
              opacity: 0.74;
              width: 93%;
              height: 30px;
              border-radius: 6px;
              color: $app-black;
              padding-left: 2.5rem;
            }

            input::-webkit-input-placeholder {
              color: $app-light-black;
            }

            input:-moz-placeholder {
              color: $app-light-black;
            }

            form {
              display: flex;
              position: relative;
              align-items: center;

              &:before {
                font-family: 'Material Icons', serif;
                content: "search";
                position: absolute;
                left: 10px;
                color: $app-black;
              }
            }
          }

          .notification{
            span{color: $app-light-black}
          }
        }

        @media (max-width: 1280px) {
          .logo-site {
            flex: .1
          }
          .menu-site {
            flex: .65
          }
          .header-right-side {
            flex: .35
          }
        }
      }
    }
  }

  .app-nav {
    .app-nav-list>li a {
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 64px;
      padding: 0 15px;
      display: block;
      color: $app-black;
    }
  }

  //Responsive bar
  .responsive-bar{
    @media(min-width:960px){display: none !important;}
    background: $app-white;
    display: flex;
    text-align: center;
    align-items: center;
    .nav-menu{flex: .1};
    .logo-site{flex: .5;
      img{width:auto;
        height: 40px;
        @media (max-width: 400px) {
          height: 30px
        }
      }
    };
    .right-side{
      flex: .4;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a{color: $app-black}
      button{background: transparent}
    }
    .responsive-toggle.mat-icon-button{
      background: transparent;
      color:$app-red;
      align-self: center;
    }
  }


  //----Search Form
  .search-box {
    position: absolute;
    bottom: -20px;
    right: 0;
  }

  .search-form {
    position: absolute;
    right: 0;
    left: 0;
    background: $app-white;
    z-index: 9999;
    top: 0;
    transition: all 0.3s ease;
    bottom: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    opacity: 1;
    //visibility: hidden;

    input {
      width: 100%;
      color: $app-font-color;
      padding: 0 1rem;
      border: 0;
      font-size: 1.2rem;
      height: 64px;
    }
  }

  .form-open {
    .search-box {

    }

    .search-form {
      opacity: 1;
      visibility: visible;
      //overflow: hidden;
    }
  }

  .close-btn {
    position: absolute !important;
    right: 0;
    background: $app-white !important;
    box-shadow: none !important;
    color: $app-font-color !important;
  }

}
