<mat-toolbar color="primary" class="header">
  <!--large Devices Header -->
  <mat-toolbar-row class="header-bottom xl main-menu-wrap">

    <div class="header-bottom-inner">

      <!--logo-->
      <div class="logo-site">
        <a [routerLink]="['/']"> <img src="../../../assets/images/Light%20Mode.svg" alt=""> </a>
      </div>
      <!--menu items-->
      <div class="menu-site">
        <siteMenu></siteMenu>
      </div>
      <!--Search and Notifications side-->
      <div class="header-right-side">
        <div class="search">
          <form action="">
            <input type="text" placeholder="Search">
          </form>
        </div>
        <div class="notification">
          <a href="!#"><span class="material-icons">notifications</span></a>
        </div>
        <div class="icon-logo">
          <a href="!#"><img src="../../../assets/images/Icon.svg" width="25" height="25" alt=""/></a>
        </div>

      </div>
    </div>

  </mat-toolbar-row>

  <!--End Large Device Header-->
  <mat-toolbar-row class="responsive-bar header-bottom sm relative">
    <!--nav button-->
    <div class="nav-menu">
      <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
        <i class="material-icons">menu</i>
      </button>
    </div>
    <!--logo-->
    <div class="logo-site">
      <a [routerLink]="['/']"> <img src="../../../assets/images/Light%20Mode.svg" alt=""> </a>
    </div>
    <!--right side buttons-->
    <div class="right-side">
      <a class="nav-link" [routerLink]="['/home']">
        <span class="material-icons material-icons-outlined">home</span>
      </a>
      <a class="nav-link" [routerLink]="['/']">
        <span class="material-icons material-icons-outlined">refresh</span>
      </a>
      <div class="search-box-bar">
      <button type="button" mat-mini-fab (click)="toggleSearch()">
        <i class="material-icons">search</i>
      </button>
        <div [hidden]="searchOpen" class="search-form">
          <form>
            <input type="text" placeholder="Search and hit enter">
            <button type="button" mat-fab class="close-btn" (click)="toggleSearch()">
              <i class="material-icons">
                close
              </i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
    <!--search-->

</mat-toolbar>
