<div id="main-app" class="app">
  <mat-sidenav-container class="admin-container-wrap">

    <!--sideBar-->
    <mat-sidenav #sidenav [mode]="_shareService.adminSideBarMode"
                 [(opened)]="_shareService.adminSideBarOpen"
                 class="sidebar-area">
      <adminSideBar></adminSideBar>
    </mat-sidenav>

    <!--header-->
    <adminHeader></adminHeader>


    <!--filter list members-->
    <mat-menu xPosition="before" class="filter-admin-menu-members" #filter="matMenu">
      <div (click)="$event.stopPropagation()" mat-card-title fxFlex="100" fxLayoutAlign="space-around center">
        <h4 style="margin: 5px">{{_tb.translate.texts.members}}</h4>
        <a (click)="closeMatMenu()" href="javascript:;"><span style="color: #C9C9C9" class="material-icons">close</span></a>
      </div>
      <mat-divider></mat-divider>

      <div (click)="$event.stopPropagation()" mat-menu-item role="menuitemcheckbox"
           fxFlex="100" fxLayoutAlign="space-around center"
      >
        <mat-checkbox
          #check_all
          (click)="checkAllChoice(check_all.checked)"
          class="example-margin"
          checked="checked"
          labelPosition="before">
          <i class="material-icons mr-1">group</i>
          {{_tb.translate.texts.allMembers}}
        </mat-checkbox>

      </div>

      <ng-container *ngIf="adminCatCards.filterMembers as _members">
        <div *ngFor="let member of _members" (click)="$event.stopPropagation()" mat-menu-item role="menuitemcheckbox"
             fxFlex="100" fxLayoutAlign="space-around center"
        >
          <mat-checkbox
            class="example-margin"
            checked="checked"
            labelPosition="before">
            <img mat-card-avatar [src]="member.image" alt="{{member.name}}"/>
            {{member.name}}
          </mat-checkbox>

        </div>
      </ng-container>

      <div class="save-button" role="banner" fxFlex="100" fxLayoutAlign="center center">
        <button mat-raised-button>{{_tb.translate.texts.save}}</button>
      </div>


    </mat-menu>

    <!--container-->
    <div class="admin-base-container">
      <div class="admin-container">

        <!--search bar-->
        <div class="filter-bar" fxFlex="100" fxLayout="row wrap-direction" fxLayoutAlign="center center">

          <div class="title-section" fxFlex.xs="100" fxFlex="auto" fxLayoutAlign.xs="center center">
            <p>{{_tb.translate.texts.category}}</p>
          </div>

          <div class="search-section" fxLayout="row" fxLayout.xs="row wrap-direction" fxFlex.xs="100" fxFlex="auto"
               fxLayoutAlign.xs="center center">

            <!--button-->
            <div class="add-button">
              <button mat-mini-fab [mat-menu-trigger-for]="filter">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <!--members filter-->
            <div class="filter-members" *ngIf="adminCatCards.filterMembers as _data">
              <img *ngFor="let _member of _data"
                   mat-card-avatar
                   matTooltip="{{_member.name}}"
                   src="{{_member.image}}"
                   alt="{{_member.name}}"
              />
            </div>

            <!--search-->
            <div class="search" fxFlex="25" fxFlex.md="30" fxFlex.xl="20" fxFlex.lg="25" fxFlex.xs="100">
              <div class="search-input">
                <span *ngIf="!_shareService.isRtl" class="material-icons">search</span>
                <input type="text" placeholder="{{_tb.translate.texts.search}}">
                <span *ngIf="_shareService.isRtl" class="material-icons">search</span>
              </div>
            </div>

          </div>

        </div>

        <!--categories cards List-->
        <div class="cardList-cat" *ngIf="adminCatCards.catCardList as _data"
             fxFlex="100" fxLayout="row wrapDirection"
        >
          <adminCategoryCard *ngFor="let catCard of _data"
                             [cardsListData]="catCard"
                             fxFlex.xl="25"
                             fxFlex.lg="33" fxFlex.md="50"
                             fxFlex.sm="50" fxFlex.xs="100"
          >
          </adminCategoryCard>
        </div>

        <!--Add fab button-->
        <div class="add-big-button">
          <button mat-fab aria-label="Example icon button with a home icon">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </div>

      <!--pagination part-->
      <div class="pagination-row"
           *ngIf="adminCatCards.catCardList.length>6 && adminCatCards.catCardList.length as _itemsCount">
        <div class="pagination">
          <a class="arrow" href="javascript:;">
            <span class="material-icons">chevron_left</span>
          </a>
          <ng-container *ngFor="let _val of numToArray(_itemsCount) index as i">
            <a *ngIf="i%pageSize == 0 && (i/pageSize+1) as pageNum"
               [ngClass]="pageNum == activePage?'active':''"
               (click)="activePage = pageNum"
               href="javascript:;">
              {{pageNum}}
            </a>
          </ng-container>

          <a class="arrow" href="javascript:;">
            <span class="material-icons">chevron_right</span>
          </a>
        </div>
      </div>

    </div>


  </mat-sidenav-container>
</div>
