@import "./src/styles";

.header {
  .header-bottom {
      background: $app-white;
      box-shadow: 0 3px 6px $app-shadow-black;
      height: 84px;

      .header-bottom-inner {
        display: flex;
        align-items: center;
        width: 100%;

        .logo-site {
          flex: .1
        }

        .menu-site {
          flex: .75
        }

        .header-right-side {
          flex: .25;
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          .search {
            .search-input{
              span{
                position: relative;
                left: 30px;
                top: 7px;
                color: black;
              }
            }
            input {
              background: rgba(255, 255, 255, 0.27);
              border: 1px solid $app-light-black;
              opacity: 0.74;
              width: 93%;
              height: 30px;
              border-radius: 6px;
              color: $app-black;
              padding-left: 2.5rem;
            }

            input::-webkit-input-placeholder {
              color: $app-light-black;
            }

            input:-moz-placeholder {
              color: $app-light-black;
            }

            form {
              display: flex;
              position: relative;
              align-items: center;

              &:before {
                font-family: 'Material Icons', serif;
                content: "search";
                position: absolute;
                left: 10px;
                color: $app-black;
              }
            }
          }

          .notification{
            span{color: $app-light-black}
          }
        }

        @media (max-width: 1280px) {
          .logo-site {
            flex: .1
          }
          .menu-site {
            flex: .65
          }
          .header-right-side {
            flex: .35
          }
        }
      }

  }

  .app-nav {
    .app-nav-list>li a {
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 64px;
      padding: 0 15px;
      display: block;
      color: $app-black;
    }
  }

  //Responsive bar
  .responsive-bar{
    background: $app-white;
    display: flex;
    text-align: center;
    align-items: center;
    .nav-menu{flex: .1};
    .logo-site{flex: .5;
      img{width:auto;
        height: 40px;
        @media (max-width: 400px) {
          height: 30px
        }
      }
    };
    .right-side{
      flex: .4;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a{color: $app-black}
      button{background: transparent}
    }
    .responsive-toggle.mat-icon-button{
      background: transparent;
      color:$app-red;
      align-self: center;
    }
  }
}
