<mat-toolbar class="header">

  <!--large Devices Header -->
  <mat-toolbar-row class="header-bottom main-menu-wrap" *ngIf="_help.screenWidth > 960">
    <div class="header-bottom-inner">

      <!--logo-->
      <div class="logo-site">
        <a [routerLink]="['/']"> <img src="../../../../assets/images/Light%20Mode.svg" alt=""> </a>
      </div>

      <!--menu items-->
      <div class="menu-site">
        <siteMenu></siteMenu>
      </div>

      <!--Search and Notifications side-->
      <div class="header-right-side">

        <!--search-->
        <div class="search">
          <div class="search-input">
            <span class="material-icons">search</span>
            <input type="text" placeholder="{{_tb.translate.texts.search}}">
          </div>
        </div>

        <!--notification-->
        <div class="notification">
          <a href="javascript:;" matTooltip="{{_tb.translate.texts.notifications}}"><span class="material-icons">notifications</span></a>
        </div>

        <!--profile photo-->
        <div class="icon-logo" *ngIf="!_storage.getUserPreferences().isLoggedIn" [routerLink]="['/login']">
          <a href="javascript:;"><img src="../../../../assets/images/Icon.svg" width="25" height="25" alt=""/></a>
        </div>
        <div class="icon-logo" *ngIf="_storage.getUserPreferences().isLoggedIn">

          <a href="javascript:;" [mat-menu-trigger-for]="logout">
          <img style="border-radius: 50%" src="../../../../assets/images/yaman.jpg"
               matTooltip="{{_storage.getUserPreferences().userName | slice:0:15}}"
               width="30" height="30" alt=""
          />
          </a>

        </div>

      </div>

    </div>
  </mat-toolbar-row>
  <!--logout header menu-->
  <mat-menu #logout="matMenu">
    <button mat-menu-item
            style="display: flex;align-items: center;justify-content: flex-start;"
            (click)="_help.logOut()"
    >
      <i class="material-icons mr-1">power_settings_new</i>
      <span>Logout</span>
    </button>
  </mat-menu>
  <!--End Large Device Header-->

  <!--Mobile Header-->
  <mat-toolbar-row class="responsive-bar header-bottom relative" *ngIf="_help.screenWidth <= 960">

    <!--nav button-->
    <div class="nav-menu">
      <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
        <i class="material-icons">menu</i>
      </button>
    </div>

    <!--logo-->
    <div class="logo-site">
      <a [routerLink]="['/']"> <img src="../../../../assets/images/Light%20Mode.svg" alt=""> </a>
    </div>

    <!--right side buttons-->
    <div class="right-side">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link">
        <span class="material-icons material-icons-outlined">home</span>
      </a>
      <a class="nav-link" href="javascript:;">
        <span class="material-icons material-icons-outlined">refresh</span>
      </a>

      <button type="button" mat-mini-fab>
        <i class="material-icons">search</i>
      </button>
    </div>

  </mat-toolbar-row>
  <!--End Mobile Header-->

</mat-toolbar>
