
  $app-red: rgb(228, 49, 56);
  $app-primary-bg:#FAFAFA;
  $app-white:#ffffff;
  $app-black:#000000;
  $app-light-black:#1A1A27;
  $app-gray1:#F4F4F4;
  $app-gray2:#C9C9C9;
  $app-gray3:#0000004E;
  $app-gray4:#00000080;
  $app-yellow1:#FFB426;
  $app-yellow2:#F1BF43;
  $app-vinous:#70121A;
  $app-light-green:#58DEBF;
  $app-pink:#E431381A;
  $app-shadow-black:#00000005;
  $app-font-color: #3A405B;
