//Main body
$primary:#fff;
$body-bg:#f3f3f4;
$grey-bg:#f3f3f4;


//Body color

$font-color: #3A405B;

//$border

$theme-border-color:#d5d5d5;


$main-nav-color:#1A1A27;
$main-nav-color-hover:#E43138;
