<nav class="app-nav">
  <ul class="app-nav-list">

    <!--latest-->
    <li class="app-nav-item">
      <a class="nav-link" [ngClass]="{'red':(_help.currentRouter$ | async) === '/'+getMenuItems()[0].link}" routerLink="{{getMenuItems()[0].link}}">
        <span class="material-icons material-icons-outlined">{{getMenuItems()[0].icon}}</span>
        {{getMenuItems()[0].name}}
        </a>
    </li>

    <!--home-->
    <li class="app-nav-item">
      <a class="nav-link" routerLink="{{getMenuItems()[1].link}}" routerLinkActive="active-link">
        <span class="material-icons material-icons-outlined">{{getMenuItems()[1].icon}}</span>
        {{getMenuItems()[1].name}}
      </a>
    </li>

    <!--admin-->
    <li class="app-nav-item" *ngIf="_appStorageService.getUserPreferences().isLoggedIn">
      <a class="nav-link" routerLink="{{getMenuItems()[2].link}}" routerLinkActive="active-link">
        <span class="material-icons material-icons-outlined">{{getMenuItems()[2].icon}}</span>
        {{getMenuItems()[2].name}}
      </a>
    </li>

    <!--login-->
    <li class="app-nav-item" *ngIf="!_appStorageService.getUserPreferences().isLoggedIn">
      <a class="nav-link" routerLink="{{getMenuItems()[3].link}}" routerLinkActive="active-link">
        <span class="material-icons material-icons-outlined">{{getMenuItems()[3].icon}}</span>
        {{getMenuItems()[3].name}}
      </a>
    </li>


    <!--lang changeable-->
    <li>
      <a class="nav-link" style="cursor: pointer" (click)="_help.changeLang()">
        <span class="material-icons material-icons-outlined">g_translate</span>
        {{_tb.translate.texts.lang}}
      </a>
    </li>
  </ul>

</nav>
