@import "./src/styles";

Loading {

  /*container style*/
  .spinner-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*color of circle loading*/
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: $app-red !important;
  }

}







