/* You can add global styles to this file, and also import other style files */

//app variables
@import "src/styles/variables";

//app colors
@import "src/styles/colors";

//material theme style
@import "src/styles/material-theme";

//base style
@import "src/styles/base";

// regular style toast
@import '~ngx-toastr/toastr';

// bootstrap style toast
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

//rating start
@import '~ngx-bar-rating/themes/br-stars-theme';

//rtl style
@import "styles/rtl";


/*arabic font*/
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.ttf) format('truetype')
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.ttf) format('truetype')
}

/*End arabic font*/

/*general classes */
html, body { height: 100%;margin: 0; *{outline: unset}}
.red-color{
  color: $app-red;
}

/*LTR font*/
html[dir="ltr"] {
  div,h1,h2,h3,h4,h5,h6,a,input{
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
  }
}

/*RTL font*/
html[dir="rtl"] {
  div,h1,h2,h3,h4,h5,h6,a,input{
    font-family: 'Noto Kufi Arabic', serif !important;
  }
  * {
    letter-spacing: 0 !important;
  }
}

/*toast style*/
.toast-warning{
  background: red !important;
  @media (max-width: 480px) {
    width: 98vw !important;
  }
  width: 400px !important;
}
.toast-success{
  background: green !important;
  @media (max-width: 480px) {
    width: 98vw !important;
  }
  width: 400px !important;
}


/*remove the scroll in admin_page*/
.admin-page {
  .mat-drawer-content {
    overflow: hidden !important;
  }

  /*list filter admin page style*/
  .filter-admin-menu-members {
    &.mat-menu-panel {
      min-width: 250px;
    }
    .mat-menu-item {
      padding: 0
    }
    mat-checkbox {
      width: 100%;
      padding: 0 5px;

      .mat-checkbox-background,
      .mat-checkbox-frame {
        border-radius: 50%;
        background: transparent;
        border-color: #F8E6E7;
      } ;

      .mat-checkbox-layout {
        display: flex;
        justify-content: space-between
      }

      .mat-checkbox-label{
        display: flex;
        align-items: center;
        font-size: 16px;
        flex: 0.8;
        justify-content: space-between;
      }
      .mat-checkbox-inner-container {
        margin-right: 8px;
        width: 25px;
        height: 25px;
      }
      .mat-checkbox-checkmark-path{stroke: $app-red !important;}
    }
    .save-button button{
      width: 100%;
      background: $app-red;
      color: white;
      border-radius: 25px;
      margin: 15px 10px;
    }

  }
}
