@import "src/styles/variables";

slickCategories {

  /*carousel style*/
  .home-2-slider {
    .slick-slide {
      margin: 3rem 1rem;
      box-shadow: $card-shadow;
      border-radius: 10px;
      overflow: hidden;
      transition: box-shadow 0.3s ease-in-out;
      @media (min-width: 1280px) {
        width: 500px !important;
      }
      &:hover {
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12), 0 16px 16px 0 rgba(0, 0, 0, 0.24);
      }
    }

    .home-2-slider-content {
      position: absolute;
      top: 23%;
      left: 5%;

    }
  }

  /*category card style*/
  .card-contains {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    /*card title style*/
    .card-title {
      flex: .8;
      .br-stars{
        display: flex;
        align-items: center;
        .br-text{
          padding-inline-start: 5px;
          font-size: 18px;
          &:before{
            content: '(';
          }
          &:after{
            content: ')';
          }
        }
      }
    }

    /*card button style*/
    .card-buttons {
      flex: .2;
      display: flex;
      justify-content: space-evenly;
      .done-color{
        background: rgb(88, 222, 191,0.2) !important;
        color: #58DEBF !important;
        box-shadow: none !important;
      }
      .add-color{
        background: #FCEAEB !important;
        color:#E43138 !important;
        box-shadow: none !important;
      }
    }
  }

  .slick-slide {
    outline: none;
  }
  .slick-slider{
    display: unset;
  }

  /*responsive carousel styles*/
  @media(max-width: 1550px) {
    .home-2-slider {
      .home-2-slider-content {
        position: absolute;
        top: 15%;
      }
    }
  }
  @media(max-width: 767px) {
    .home-2-slider .slick-slide {
      margin: 2rem 1rem;
    }
  }
  @media(max-width: 439px) {
    .home-2-slider .home-2-slider-content {
      top: 27%;
    }
  }

}
